@(passwordChangeForm:Form[securesocial.controllers.PasswordChange.ChangeInfo],userNameChangeForm:Form[controllers.Admin.ChangeUserNameInfo])(implicit request: RequestHeader)
@import securesocial.core.providers.UsernamePasswordProvider
@import securesocial.core.IdentityProvider
@import helper._

@implicitFieldConstructor = @{ FieldConstructor(views.html.SecureSocialViews.inputFieldConstructor.f) }

@views.html.main_restricted( Messages("securesocial.passwordChange.title") ) {
<div class="col-md-8 col-lg-8">

<div class="panel panel-default">

	<div class="panel-heading">
		<i class="fa fa-sign-in fa-fw"></i> Login information
	</div>
	<div class="panel-body">
		Do login and enter to admin the app. 
	</div>
</div>
</div>
<div class="col-md-4 col-lg-4">

<div class="panel panel-default">

	<div class="panel-heading">
		<i class="fa fa-sign-in fa-fw"></i> Change Name
	</div>

    @request.flash.get("error").map { msg =>
        <div class="alert alert-error">
            @msg
        </div>
    }

    @if( request.flash.get("success").isDefined ) {
        <div class="alert alert-info">
            @request.flash.get("success").get
        </div>

        <div class="form-actions">
            <a class="btn" href="@securesocial.controllers.ProviderController.toUrl(request.session)">@Messages("securesocial.passwordChange.okButton")</a>
        </div>
    } else {
	<div class="panel-body">
        <form action="/password2"
              autocomplete= "off"
              method="POST"
        >

            <fieldset>
                <div class="form-group">
                @helper.inputText(
                    userNameChangeForm("fullName"),
                    '_label -> Messages("securesocial.passwordChange.currentPassword"),
                    'class -> "form-control"
                )
				</div>

                    <button type="submit" class="btn btn-lg btn-success">@Messages("securesocial.passwordChange.changeButton")</button>
<!--                    <a class="btn" href="@securesocial.controllers.ProviderController.toUrl(request.session)">@Messages("securesocial.signup.cancel")</a>-->
                    <button class="btn btn-lg btn-primary" href="@securesocial.controllers.ProviderController.toUrl(request.session)">@Messages("securesocial.signup.cancel")</button>

            </fieldset>
        </form>
     </div>
     }
</div>
<div class="panel panel-default">

	<div class="panel-heading">
		<i class="fa fa-sign-in fa-fw"></i> Change password
	</div>

    @request.flash.get("error").map { msg =>
        <div class="alert alert-error">
            @msg
        </div>
    }

    @if( request.flash.get("success").isDefined ) {
        <div class="alert alert-info">
            @request.flash.get("success").get
        </div>

        <div class="form-actions">
            <a class="btn" href="@securesocial.controllers.ProviderController.toUrl(request.session)">@Messages("securesocial.passwordChange.okButton")</a>
        </div>
    } else {
	<div class="panel-body">
        <form action="@securesocial.core.providers.utils.RoutesHelper.handlePasswordChange.absoluteURL(IdentityProvider.sslEnabled)"
              autocomplete= "off"
              method="POST"
        >
            <fieldset>
                <div class="form-group">
                @helper.inputPassword(
                    passwordChangeForm("currentPassword"),
                    '_label -> Messages("securesocial.passwordChange.currentPassword"),
                    'class -> "form-control",
                    'placeholder -> Messages("securesocial.passwordChange.currentPassword")
                )
				</div>
                <div class="form-group">
                @helper.inputPassword(
                    passwordChangeForm("newPassword.password1"),
                    '_label -> Messages("securesocial.passwordChange.newPassword1"),
                    'class -> "form-control",
                    'placeholder -> Messages("securesocial.passwordChange.newPassword1") 
                )
				</div>
                <div class="form-group">
                @helper.inputPassword(
                    passwordChangeForm("newPassword.password2"),
                    '_label -> Messages("securesocial.passwordChange.newPassword2"),
                    '_error -> passwordChangeForm.error("newPassword"),
                    'class -> "form-control",
                    'placeholder -> Messages("securesocial.passwordChange.newPassword2")
                )
				</div>

                    <button type="submit" class="btn btn-lg btn-success">@Messages("securesocial.passwordChange.changeButton")</button>
<!--                    <a class="btn" href="@securesocial.controllers.ProviderController.toUrl(request.session)">@Messages("securesocial.signup.cancel")</a>-->
                    <button class="btn btn-lg btn-primary" href="@securesocial.controllers.ProviderController.toUrl(request.session)">@Messages("securesocial.signup.cancel")</button>

            </fieldset>
        </form>
     </div>
     }
</div>

</div>
}
