@(startForm:Form[String])(implicit request: RequestHeader)

@import helper._
@import securesocial.core.IdentityProvider

@implicitFieldConstructor = @{ FieldConstructor(views.html.SecureSocialViews.inputFieldConstructor.f) }

@views.html.main(Messages("securesocial.password.title")) {

<div class="col-md-8 col-lg-8">

<div class="panel panel-default">

	<div class="panel-heading">
		<i class="fa fa-sign-in fa-fw"></i> Login information
	</div>
	<div class="panel-body">
		Do login and enter to admin the app. 
	</div>
</div>
</div>
<div class="col-md-4 col-lg-4">

<div class="panel panel-default">

	<div class="panel-heading">
		<i class="fa fa-sign-in fa-fw"></i> @Messages("securesocial.password.title")
	</div>

    @request.flash.get("error").map { msg =>
    <div class="alert alert-error">
        @Messages(msg)
    </div>
    }

    @if( request.flash.get("success").isDefined ) {
        <div class="alert alert-info">
            @request.flash.get("success").get
        </div>

        <div class="form-actions">
            <a class="btn" href="@securesocial.controllers.ProviderController.toUrl(request.session)">@Messages("securesocial.passwordChange.okButton")</a>
        </div>
    } else {
	<div class="panel-body">
        <form action="@securesocial.core.providers.utils.RoutesHelper.handleStartResetPassword().absoluteURL(IdentityProvider.sslEnabled)"
              autocomplete= "off"
              method="POST"
        >
            <fieldset>
                <div class="form-group">
		            @helper.inputText(
		            startForm("email"),
		            '_label -> Messages("securesocial.signup.email1"),
		            'class -> "input-xlarge form-control",
                    'placeholder -> Messages("securesocial.signup.email1")
		            )
				</div>
 
                    <button type="submit" class="btn btn-lg btn-success">@Messages("securesocial.passwordChange.changeButton")</button>
<!--                    <a class="btn" href="@securesocial.controllers.ProviderController.toUrl(request.session)">@Messages("securesocial.signup.cancel")</a>-->
                    <button class="btn btn-lg btn-primary" href="@securesocial.core.providers.utils.RoutesHelper.login()">@Messages("securesocial.signup.cancel")</button>

            </fieldset>
        </form>
     </div>
     }
</div>
</div>
}
